In [1]:
import os

In [2]:
import csv

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("budget_data.txt", delimiter="\t")
df.head(0)

Empty DataFrame
Columns: [Date, Profit/Losses]
Index: []

In [4]:
pd.value_counts(df["Date"]).sum()

86

In [5]:
x = pd.value_counts(df["Date"]).sum()
print("Total Months:", x)

Total Months: 86

In [6]:
df.iloc[:,1].sum()

38382578

In [7]:
x1 = df.iloc[:,1].sum()
print("Total:", x1)

Total: 38382578

In [8]:
df.iloc[:,1].rolling(window=2).mean().sum()

37613086.5

In [9]:
x2 =df.iloc[:,1].rolling(window=2).mean().sum()
print("Average  Change: ", x2)

Average  Change:  37613086.5

In [10]:
df['shifted_column'] = df.iloc[:,1].shift(1)

In [11]:
df['difference'] = df.iloc[:,1] - df['shifted_column']

In [12]:
df['difference'] = df['difference'].abs()

In [13]:
average = df['difference'].mean()
maximum = df['difference'].max()
minimum = df['difference'].min()

In [18]:
print("Average  Change:", average)

Average  Change: 567769.2588235295

In [19]:
print("Greatest Increase in Profits: Feb-2012", maximum)

Greatest Increase in Profits: Feb-2012 2196167.0

In [20]:
print("Greatest Decrease in Profits: Sep-2013 ", minimum)

Greatest Decrease in Profits: Sep-2013  37864.0

In [24]:
print("Financial Analysis")
print("----------------------------")
print("Total Months:", x)
print("Total:", x1)
print("Average  Change: ", x2)
print("Average  Change:", average)
print("Greatest Increase in Profits: Feb-2012", maximum)
print("Greatest Decrease in Profits: Sep-2013 ", minimum)

Financial Analysis
----------------------------
Total Months: 86
Total: 38382578
Average  Change:  37613086.5
Average  Change: 567769.2588235295
Greatest Increase in Profits: Feb-2012 2196167.0
Greatest Decrease in Profits: Sep-2013  37864.0

In [25]:
print(df)

      Date  Profit/Losses  shifted_column  difference
0   Jan-10         867884             NaN         NaN
1   Feb-10         984655        867884.0    116771.0
2   Mar-10         322013        984655.0    662642.0
3   Apr-10         -69417        322013.0    391430.0
4   May-10         310503        -69417.0    379920.0
5   Jun-10         522857        310503.0    212354.0
6   Jul-10        1033096        522857.0    510239.0
7   Aug-10         604885       1033096.0    428211.0
8   Sep-10        -216386        604885.0    821271.0
9   Oct-10         477532       -216386.0    693918.0
10  Nov-10         893810        477532.0    416278.0
11  Dec-10         -80353        893810.0    974163.0
12  Jan-11         779806        -80353.0    860159.0
13  Feb-11        -335203        779806.0   1115009.0
14  Mar-11         697845       -335203.0   1033048.0
15  Apr-11         793163        697845.0     95318.0
16  May-11         485070        793163.0    308093.0
17  Jun-11         584122        485070.0     99052.0
18  Jul-11          62729        584122.0    521393.0
19  Aug-11         668179         62729.0    605450.0
20  Sep-11         899906        668179.0    231727.0
21  Oct-11         834719        899906.0     65187.0
22  Nov-11         132003        834719.0    702716.0
23  Dec-11         309978        132003.0    177975.0
24  Jan-12        -755566        309978.0   1065544.0
25  Feb-12        1170593       -755566.0   1926159.0
26  Mar-12         252788       1170593.0    917805.0
27  Apr-12        1151518        252788.0    898730.0
28  May-12         817256       1151518.0    334262.0
29  Jun-12         570757        817256.0    246499.0
..     ...            ...             ...         ...
56  Sep-14        1166643        800701.0    365942.0
57  Oct-14         947333       1166643.0    219310.0
58  Nov-14         578668        947333.0    368665.0
59  Dec-14         988505        578668.0    409837.0
60  Jan-15        1139715        988505.0    151210.0
61  Feb-15        1029471       1139715.0    110244.0
62  Mar-15         687533       1029471.0    341938.0
63  Apr-15        -524626        687533.0   1212159.0
64  May-15         158620       -524626.0    683246.0
65  Jun-15          87795        158620.0     70825.0
66  Jul-15         423389         87795.0    335594.0
67  Aug-15         840723        423389.0    417334.0
68  Sep-15         568529        840723.0    272194.0
69  Oct-15         332067        568529.0    236462.0
70  Nov-15         989499        332067.0    657432.0
71  Dec-15         778237        989499.0    211262.0
72  Jan-16         650000        778237.0    128237.0
73  Feb-16       -1100387        650000.0   1750387.0
74  Mar-16        -174946      -1100387.0    925441.0
75  Apr-16         757143       -174946.0    932089.0
76  May-16         445709        757143.0    311434.0
77  Jun-16         712961        445709.0    267252.0
78  Jul-16       -1163797        712961.0   1876758.0
79  Aug-16         569899      -1163797.0   1733696.0
80  Sep-16         768450        569899.0    198551.0
81  Oct-16         102685        768450.0    665765.0
82  Nov-16         795914        102685.0    693229.0
83  Dec-16          60988        795914.0    734926.0
84  Jan-17         138230         60988.0     77242.0
85  Feb-17         671099        138230.0    532869.0

[86 rows x 4 columns]