In [1]:
import os

In [8]:
import pandas as pd

In [14]:
df = pd.read_csv("election_data.csv")
df.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [12]:
pd.value_counts(df["Voter ID"]).sum()

3521001

In [13]:
x = pd.value_counts(df["Voter ID"]).sum()
print("Total Votes:", x)

Total Votes: 3521001

In [17]:
pd.value_counts(df["Candidate"])

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [87]:
s = pd.value_counts(df["Candidate"])
print(s)

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [77]:
p = s/x
print(p,round(1))

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64 1

In [67]:
y100 = s.value_counts(normalize=True).mul(100).round(1).astype(str) + "%"

In [68]:
print(y100)

2218231    100%
105630     100%
492940     100%
704200     100%
Name: Candidate, dtype: object

In [109]:
print(max(s[:]))

2218231

In [114]:
print("Election Results")
print("--------------------------")
print("Total Votes:", x)
print(p ,"|,   |","Winner:", s)

Election Results
--------------------------
Total Votes: 3521001
Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64 |,   | Winner: Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64